#frameBG {
  position: fixed;
  display: show;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0.0;
  transition:1s; 
}

#intframe {
  position: absolute;
  display: show;
  width: 100%;
  height: 80%;
  top: 20%;
  z-index: 0;
}

#intbtn {
  position: absolute;
  display: show;
  width: 10%;
  height: 10%;
  top: 90%;
  right:0%;
  transition: 1s;
  opacity: 1.0;
  background-color: red;
  z-index: 1;
}
#intbtn:hover {
  opacity: 0.5;
}  

#videoBG {
  position: fixed;
  display: show;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}    

@media screen and (orientation:portrait) {
	/* portrait-specific styles */
	  #overlay {
  position: fixed;
  display: show;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}    

}
/* landscape */
@media screen and (orientation:landscape) {
	/* landscape-specific styles */
    #overlay {
  position: fixed;
  display: none;
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}   
}

.Panel_selected__2RlcF {
    border: 0px solid #a9adc4;
    box-shadow: none;
}

.Panel_root__27s4x {
    border-radius: 0px;
    box-shadow: none;
}

.MuiPaper-elevation1 {
    box-shadow: none;
}

.MuiPaper-root {
    background-color: #00000000;
}

